@use "../abstracts/variables" as variables;


.doctor-form__container{
    padding-inline: variables.$padding-inline-desktop-1820;

    textarea{
        border: 1px solid rgba(128, 128, 128, 0.466);
        padding: 1rem;
    }
}